.DS_Store
*.bbl
*.blg
*.log
*.out
*.gz
*.el
*synctex.gz
*.nav
*.snm
*.toc
*.aux
erl-maude-technical-report/*.pdf
code-transformation/erlang-rev-model
code-transformation/erlang-fwd-model
erl-maude-technical-report/auto



